.combinators__descendent p {
  background-color: yellow;
}
.combinators__child > p {
  background-color: rgb(117, 248, 156);
}
.combinators__adjacent + p {
  background-color: rgb(117, 248, 156);
}
.combinators__general ~ p {
  background-color: rgb(117, 248, 156);
}
