.main .inspired .inspired__wrap_title, .main .benefit .benefit__cards, .main .intro .intro__wrapper, .header .header__wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.main .inspired .inspired__wrap_title, .main .benefit .benefit__cards, .main .intro .intro__wrapper .search_form__info, .main .intro .intro__wrapper, .header .header__list, .header .header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main .intro .intro__wrapper .intro__title {
  font-weight: 500;
  font-size: 50px;
  color: white;
}

.main .intro .intro__wrapper .search_form__info .search_form__field::placeholder, .main .intro .intro__wrapper .search_form__info .search_form__field {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.main .inspired .inspired__wrap_title .inspired__link, .main .benefit .benefit__cards .benefit__card .benefit__card__link {
  display: inline-block;
  padding-right: 60px;
  color: #006DFE;
  text-decoration: none;
  background: url("../img/svg/arrow.svg") no-repeat 95% center;
  transition: 0.2s all;
}
.main .inspired .inspired__wrap_title .inspired__link:hover, .main .benefit .benefit__cards .benefit__card .benefit__card__link:hover, .main .inspired .inspired__wrap_title .inspired__link:focus, .main .benefit .benefit__cards .benefit__card .benefit__card__link:focus {
  background: url("../img/svg/arrow.svg") no-repeat right center;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16;
  line-height: 1.2em;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1440px;
  width: 100%;
  margin: 0;
}
.header .header__wrapper {
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}
.header .header__wrapper .header__logo_link {
  text-decoration: none;
}
.header .header__list .header__item {
  margin-right: 82px;
}
.header .header__list .header__item:last-child {
  margin-right: 0;
}
.header .header__list .header__item .header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header .header__list .header__item .header__link:hover, .header .header__list .header__item .header__link:focus, .header .header__list .header__item .header__link:active {
  opacity: 0.7;
}

.main {
  max-width: 1440px;
  margin: auto;
}
.main .intro {
  padding-bottom: 370px;
  background: url("../img/hero.jpg") no-repeat center;
  background-size: cover;
}
.main .intro .intro__wrapper .intro__title {
  max-width: 620px;
  padding-top: 260px;
  line-height: 60px;
}
.main .intro .intro__wrapper .intro__subtitle {
  max-width: 550px;
  margin-top: 22px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.main .intro .intro__wrapper .search_form__info .search_form__field {
  width: 300px;
  background: transparent url("../img/svg/oval_20x20.svg") no-repeat left 8px;
  background-size: 20px;
  margin-right: 60px;
  padding-left: 40px;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
}
.main .intro .intro__wrapper .search_form__info .search_form__submit {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 15px 40px;
  width: 180px;
  height: 60px;
  color: white;
  background-color: #1B7DFF;
  border: 0;
}
.main .benefit {
  max-width: 1260px;
  min-height: 435px;
  padding-bottom: 100px;
  margin: 0 auto 130px;
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.main .benefit .benefit__title {
  width: 100%;
  height: 220px;
  position: absolute;
  transform: translateY(-100%);
  background-color: white;
}
.main .benefit .benefit__title .benefit__title__content {
  max-width: 280px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin: 90px 0 90px 100px;
  color: #102746;
}
.main .benefit .benefit__cards {
  column-gap: 50px;
  background-color: white;
}
.main .benefit .benefit__cards .benefit__card {
  width: 320px;
  min-height: 290px;
}
.main .benefit .benefit__cards .benefit__card .benefit__card__img {
  width: 60px;
  height: 60px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.main .benefit .benefit__cards .benefit__card .benefit__card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 24px;
}
.main .benefit .benefit__cards .benefit__card .benefit__card__content {
  line-height: 24px;
  color: black;
  margin-bottom: 40px;
}
.main .inspired {
  max-width: 1260px;
  min-height: 735px;
  align-items: start;
  margin: 0 auto 130px;
}
.main .inspired .inspired__wrap_title {
  width: 100%;
  min-height: 42px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}
.main .inspired .inspired__wrap_title .inspired__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  margin-right: 100px;
  padding-bottom: 7px;
}
.main .inspired .inspired__wrap_title .inspired__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #006DFE;
  width: 250px;
}
.main .inspired .inspired__wrap_title .inspired__link {
  line-height: 24px;
  padding-bottom: 9px;
  padding-top: 9px;
}
.main .inspired .inspired__imgs {
  display: grid;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
.main .inspired .inspired__imgs .inspired__block__lg {
  grid-column: span 3;
  grid-row: span 3;
  z-index: 2;
}
.main .inspired .inspired__imgs .inspired__block__lg .inspired__img {
  height: 354px;
  object-fit: cover;
  z-index: 1;
}
.main .inspired .inspired__imgs .inspired__block__lg .inspired__img__title {
  z-index: 3;
}
.main .inspired .inspired__imgs .inspired__block__sm {
  grid-column: span 2;
  grid-row: span 2;
  z-index: 2;
}
.main .inspired .inspired__imgs .inspired__block__sm .inspired__img {
  height: 283px;
  object-fit: cover;
  z-index: 1;
}
.main .inspired .inspired__imgs .inspired__block__sm .inspired__img__title {
  z-index: 3;
}

/*# sourceMappingURL=style.css.map */
